.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display: inline-block;
    padding: 20px;

}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 10px;
}
.side-nav {
    height: 400px;
    width: 189px;
    background-color: blue;
    display: inline-block;
    margin: 0px 10px;
}
.main {
    height: 400px;
    width: 720px;
    background-color: red;
    display: inline-block;
    padding: 50px 0px 0px 9px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 6px 0px 0px 15px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    display: inline-block;
    margin: 20px 0px 0px 20px;
}

